header{
    background-color: aqua;
    width: 1500px;
    margin: auto;
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#usrName{
    margin-right: 10px;
}
main{
    background-color: aqua;
    height: 100%;
    width: 1500px;
    margin: auto;
}
footer{
    background-color: chartreuse;
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#text{
    margin-bottom: 150px;
    max-width: 50%;
}
#img{
    margin: auto;
}
#img img{
    width: 350px;
    
    
}
#mDIV{
    display: flex;
    align-items: center;
}
#mDIV h3{
    
    margin-left: 15px;
}
#mDIV p{
    margin-left: 15px;
}
#menu p{
    margin-left: 0px;
}
html body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    margin: 0;
}
h3{
    margin: 0;
}
#menu{
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
#menu p{
    display: flex;
    flex-wrap: wrap;
}
#shadow{
    visibility: hidden;
    width: 100%;
    height: 1381px;
    position: absolute;
    z-index: 2;
    top: 0;
    cursor: auto;
    background: rgb(0, 0, 0, 0.33);
    border-width: 0;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
}
.Task{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
pre{
    margin: 0;
}
.Task div{
    z-index: 3;
    visibility: hidden;
    background-color: rgb(55, 216, 216);
    
    max-width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 5px;
    border-color: bisque;
    border-style: solid;
    position: absolute;
    top: 0px;
    padding: 5px;
    font-size: 15px;
}
.button{
    cursor: pointer;
    background-color: yellow;
        
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    padding: 5px;
}
#name{
    color:azure;
    position: absolute;
    margin-left: 15px;
    top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 1px  black;
}
#date{
    color:azure;
    position: absolute;
    margin-left: 15px;
    top: 30px;
    font-size: 20px;
    text-shadow: 2px 2px 1px  black;
}
#formTask_6 img{
    width: 100%;
    border-radius: 15px;
    align-items: flex-start;
}
#inpNum{
    width: 30px;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}